<h1>Listing gallery_items</h1>

<table>
  <tr>
    <th>Preview</th>
    <th>Description</th>
    <th>Article</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gallery_items.each do |gallery_item| %>
  <tr>
    <td><%= image_tag gallery_item.image.url(:iphone_thumb) %></td>
    <td><%= gallery_item.description %></td>
    <td><%= gallery_item.article.title %></td>
    <td><%= link_to 'Show', gallery_item %></td>
    <td><%= link_to 'Edit', edit_gallery_item_path(gallery_item) %></td>
    <td><%= link_to 'Destroy', gallery_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery item', new_gallery_item_path %>
